.auth-section {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.auth-container-1 {
    padding: 20px;
    margin-right: 30px;
    max-width: 400px;
    text-align: left;
}

.auth-container-1 h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.auth-container-1 p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.login-logo {
    padding: 20px 0;
}

.auth-container-2 {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container-2 form {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05),
                0 20px 48px rgba(0, 0, 0, 0.05),
                0 1px 4px rgba(0, 0, 0, 0.1);
}

.auth-container-2 form label {
    margin-bottom: 15px;
    width: 100%;
}

.auth-container-2 form label h4 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.auth-container-2 form label input {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.auth-container-2 form label:nth-child(4) {
    display: flex;
    align-items: center;
}

.auth-container-2 form label:nth-child(4) input {
    width: 15px;
    margin-right: 10px;
}

.auth-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #009dff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.auth-btn:hover {
    background-color: #018ce3;
}

.handle-switch-btn {
    margin-top: 15px;
    background-color: transparent;
    color: #007ac6;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .auth-container-1 {
display: none;
    }

    .auth-container-2 {
        max-width: 100%;
        padding: 10px;
        margin-top: 300px;
    }

    .auth-container-2 form {
        padding: 15px;
    }
}
